<section id="article-section">
    <h2 class="" id="articles-section-heading">
        Articles of the week
    </h2>

    <div id="articles-div">
        <div class="articles" id="article1">

            <h4 class="article-title" >Article title</h4>
        </div>
        <div class="articles" id="article2">

            <h4 class="article-title" >Article title</h4>
        </div>
        <div class="articles" id="article3">

            <h4 class="article-title" >Article title</h4>
        </div>


    </div>
</section>