<section id="article-section">
    <h2 class="" id="articles-section-heading">
        Articles of the week
    </h2>

    <div  id="articles-div">
        <a class="articles rounded" href="" id="article1">

            <h4 class="article-title rounded-start" >Friends</h4>
        </a>
        <a class="articles rounded"  href="" id="article2">

            <h4 class="article-title rounded-start" >Finances</h4>
        </a>
        <a class="articles rounded" href="" id="article3">

            <h4 class="article-title rounded-start" >Travel</h4>
        </a>


    </div>
</section>