<section id="welcome-section">
    <div id="welcome-left">
        <img id="welcome-img" src="images/sittingOnBench.webp" alt="" srcset="">
    </div>
    <div id="welcome-right">
        <div id="top-right">
            <h2 id="hey">hey</h2>
            <h3 class="names" id="andrea">it's Andrea</h3>
            <h3 class="names" id="jevon">& Jevon</h3>
        </div>
        <div id="bottom-right">
            <p id="welcome-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi suscipit nesciunt optio est inventore?
                Aliquid deserunt accusantium, architecto ipsa in natus labore! Dolorum a iste facere dignissimos
                similique quidem, veniam adipisci eos ipsam recusandae, aliquid alias totam et aut reiciendis vel illo
                eius repellendus quo fugiat in architecto, vitae sequi. Totam quaerat nulla labore laudantium reiciendis
                vitae iusto, officiis illum. </p>

        </div>


    </div>

</section>